body { /*giving padding to the body top and bottom so it does not fall under navbar or footer*/
	padding-top: 75px;
	padding-bottom: 2.5em;
}

.font {
		font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	}

/*NAVIGATION BAR*/
	.nav-vert-center { /*vertically centering the navigation links within the nav bar*/
		padding: 10px;
	}

	.nav-font-size { /*font size within navigation bar*/
		font-size: .9em;
	}

	.nav-transparent { /*making the full navbar and footer transparent*/
		background-color: rgba(255, 255, 255, 0.9);
	}

/*LOGOS*/
	#fingers_logo { /*sizing the header fingers crossed logo*/
		height: 145px;
		margin: 15px;
		/*padding-top: 2%;*/
	}

	#mobile-logo { /*sizing the mobile logo*/
		width: 15px;
	}

	@media (min-width: 768px) { /*sizing the mobile logo for tablet*/
		#mobile-logo {
			width: 20px;
		}
	}

.container-width { /*restricting the width of the container*/
	width: 90%;
}

.image-container { /*adding margin and padding to images within container*/
	margin: auto;
	padding: 15px;
	position: relative;
	display: inline-block;
}

hr.line-break { /*gradient line break between sections*/
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #FFFFFF, #eee, #FFFFFF);
}

/*hover stuff*/ /*REMINDER FOR MOBILE REMOVE HOVER AND ADD TRANSPARENT BANNER LINK*/
	.caption-box {
	    background: white;
	    height: 100%;
	    width: 100%;
	    opacity: 0;
	    top: 0;
	    left: 0;
	    position: absolute;
	    display: inline-block;
	    padding: 0;
	  }

	 .hover-link {
		color: black;
		font-weight: bold;
		font-size: 2em;
	  }

	 .caption-box:hover {
	    opacity: .7;
	    transition: opacity .9s;
	    line-height: 250px;
	    /*font-family: sans-serif;*/
	    text-align: center;
	    display: block;
	    /*outline: 1px solid black;*/
	  }

	  /*7/28*/
	  /*.image-hover:hover {
	  	opacity: .6;
	  	transition: opacity .9s;
	  }
	  .hover-link:hover {
	  	opacity: 1;
	  }*/


/*end hover stuff*/

footer { /*giving height to the footer*/
	height: 2.5em;
}

.center { /*vertically centers text within footer*/
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width:100%;
}

/*illustrations page*/

h3 {
	text-align: center;
}
h4 {
	text-align: center;
}
h5 {
	text-align: center;
}

a:link {
	color: black;
}
a:visited {
	color: d#333;
}
a:hover {
	text-decoration: underline;
	color: #ef0498;
}
a:active {
	text-decoration: underline;
}

/*about page*/

.col-center {  /*centering the content within the column*/
	margin: auto;
}

.top-pad {
	padding-top: 3px;
}

.bottom-pad {
	padding-bottom: 3px;
}

.grey-text {  /*making text grey*/
	color: grey;
}

.align-left { /*aligning text left*/
	text-align: left;
}

.form-outline { /*adding an outline to about sections*/
	outline: 1pt solid lightgrey;
}

#email { /*center aligning email address*/
	text-align: center;
}